:root{
    --padding: 10px 20px;
    --radius: 10px;
    --fondo: #181818;
    --efect: all .5s
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.container aside{
    width: 20%;
    height: 100vh;
    background-color:var(--fondo);
    padding: var(--padding);
}
.container aside .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container aside .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #c5c5c5;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container aside .menu a span{
    margin-right: 8px;
}
.container aside .menu a.activate{
    background-color: #282828;
    border-radius: 5px;
    color: #ffffff;
}
.container aside .menu a:hover{
    color: #ffffff;
}
.container section{
    width: 80%;
    height: 100vh;
    color: #ffffff;
    background-color: var(--fondo);
    overflow-y: scroll;
    padding-bottom: 5rem;
}
.container section::-webkit-scrollbar{
    -webkit-appearance: none;
}

.container section::-webkit-scrollbar:vertical{
    width: 7px;
}
.container section::-webkit-scrollbar-thumb{
    background-color: #797979;
}
.container section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: var(--padding);
    width: 80%;
    background: rgb(77,56,76);
    z-index: 2;
}
.container section header .botones_prev_next, section header .barra{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container section header .botones_prev_next span{
    cursor: pointer;
}
.container section header .botones_prev_next span.btn_prev{
    margin-right: 1em;
}
.container section header .barra .perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
    width: auto;
    padding: .4em 5px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 2;
}
.container section header .barra .perfil .circulo{
    background: #303030;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
}
.circulo, .nombre{
    margin-right: 5px;
}
.container section .contenedor_degradado, .container section .contenedor_contenido{
    padding: var(--padding);
}
.container section .contenedor_degradado{
    background: rgb(77,56,76);
    width: 100%;
    margin-top: 61px;
}
.container section .contenedor_degradado .banner{
    background-image: url(../images/banner.png);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.container section .contenedor_degradado .banner .cancion{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 1em;
    width: 200p;
    height: 200px;
    cursor: pointer;
}
.container section .contenedor_degradado .banner .cancion figure{
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--efect);
}
.container section .contenedor_degradado .banner .cancion figure img{
    width: 100%;
    height: 100%;
}
.container section .contenedor_degradado .banner .cancion figure:hover:before{
    position: absolute;
    content:  '';
    background-color: rgba(0,0,0,0.286);
    width: 100%;
    height: 100%;
}
.container section .contenedor_degradado .banner .cancion figure:hover:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../images/play.svg);
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.container section .contenedor_degradado .banner .cancion figure:hover{
    width: 100%;
    transform: scale(1.2);
}
.container section .contenedor_contenido{
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  
}
.container section .contenedor_contenido .titulos{
    text-align: start;
    width: 100%;
    margin-bottom: 20px;

}
.container section .contenedor_contenido .generos, .container section .contenedor_contenido .podcast{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20px;
}
.container section .contenedor_contenido .generos .cards{
    transition: var(--efect);
    flex-basis: calc((100% / 3) - 20px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    cursor: pointer;
    border-radius: var(--radius);
    margin: 10px;
    
}
.container section .contenedor_contenido .generos .cards .card_imagen{
    width: 80px;
    height: 80px;
}
.container section .contenedor_contenido .generos .cards .card_imagen img{
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.container section .contenedor_contenido .generos .cards .card_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: calc(100% - 80px);
}
.container section .contenedor_contenido .generos .cards .card_text img{
    opacity: 0;
}
.container section .contenedor_contenido .generos .cards:hover{
    background: linear-gradient(#666666, #474747);
}
.container section .contenedor_contenido .generos .cards:hover img{
    opacity: 1;
    transition: var(--efect);
}
.container section .contenedor_contenido .podcast .card_podcast{
    transition: var(--efect);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis:calc((100% / 4) - 20px);
    margin: 10px;
    background-color: #181818;
    padding:  1em;
    cursor: pointer;
    border-radius: var(--radius);
}

.container section .contenedor_contenido .podcast .card_podcast:hover{
    background-color: #282828;
}
.container section .contenedor_contenido .podcast .card_podcast img{
    width: 100%;
    height: 100%;
} 
.container section .contenedor_contenido .podcast .card_podcast:hover img{
    box-shadow: 5px 4px 10px hsl(0,0%,11%);
}
.container section .contenedor_contenido .podcast .card_podcast h4{
    margin-top: 1em;
}
.container footer{
    background: var(--fondo);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;  
    padding: var(--padding);
    border-top: 1px solid #000000;
    color: #ffffff
}
.container footer .controles{
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: .5em;
}
.container footer .controles img{
    margin: 0 .5em;
}
.container footer .progreso{
    display: flex;
    justify-content: center;
}
.container footer .barra_progreso{
    width: 40%;
    height: 5px;
    background-color: #282828;
    border-radius: var(--radius);
    margin: 0 1em;
}