<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/paginainicio.css">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    <title>Music Project</title>
</head>  
<body>
    <div class="container">
        <aside>
            <div class="menu">
                <a class="activate" href="#"><span><img src="../images/home.svg" alt=""></span>Inicio</a>
                <a href="# "><span><img src="../images/search.svg" alt=""></span>Buscar</a>
                <a href="#"><span><img src="../images/library.svg" alt=""></span>Tu biblioteca</a> <br>
                <a href="#"><span><img src="../images/add.svg" alt=""></span>Crear lista</a>
                <a href="#"><span><img src="../images/heart.svg" alt=""></span>Canciones que te gustan</a>
            </div>
            </nav>
        </aside>
        <section>
            <header>
                <div class="botones_prev_next">
                    <span class="btn_prev"><img src="../images/prev.svg" alt=""></span>
                    <span class="btn_next"><img src="../images/next.svg" alt=""></span>
                </div>

                <div class="barra">
                    <div class="perfil">
                        <span class="circulo"><img src="../images/user.svg" alt=""></span>
                        <span class="nombre">Usuario</span>
                        <span><img src="../images/salir.svg" alt=""></span>
                    </div>
                </div>
            </header>
            <div class="contenedor_degradado">
                <div class="banner">
                    <div class="cancion">
                        <figure>
                            <img src="../images/person_01.png" alt="">
                        </figure>
                    </div>
                    <div class="cancion">
                        <figure>
                            <img src="../images/person_02.png" alt="">
                        </figure>
                    </div>
                    <div class="cancion">
                        <figure>
                            <img src="../images/person_03.png" alt="">
                        </figure>
                    </div>
                    <div class="cancion">
                        <figure>
                            <img src="../images/person_04.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="contenedor_contenido">
                <div class="titulos">
                    <h1>¡Buenos días!</h1>
                </div>
                <div class="generos">
                    <div class="cards">
                        <div class="card_imagen"><img src="../images/Karol_G_en_2018.jpg" alt=""></div>
                        <div class="card_text">
                            <h4>bichota - karol g</h4>  
                            <audio
                                controls
                                src="../media/bichota.mp3">
                                <a href="../media/bichota.mp3">
                                Download audio
                                </a>
                                </audio>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="../images/adicto a ti.jpg" alt=""></div>
                        <div class="card_text">
                            <h4>Adicto a ti - Jamby el Favo</h4>
                            <audio
                                controls
                                    src="../media/Adicto a ti.mp3">
                                    <a href="../media/Adicto a ti.mp3">
                                        Download audio
                                    </a>
                             </audio>

                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="../images/banda ms.jpg" alt=""></div>
                        <div class="card_text">
                            <h4>Hablame de Ti - Banda Ms</h4>
                            <audio
                                controls
                                    src="../media/hablame de ti.mp3">
                                    <a href="../media/hablame de ti.mp3">
                                        Download audio
                                    </a>
                             </audio>     
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="../images/Live it Up.jpg" alt=""></div>
                        <div class="card_text">
                            <h4>Live it Up - Nicky Jam</h4>
                            <audio
                                controls
                                    src="../media/live it up.mp3">
                                    <a href="../media/live it up.mp3">
                                        Download audio
                                    </a>
                             </audio>   
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="../images/monotonia.jpg" alt=""></div>
                        <div class="card_text">
                            <h4>Monotonia - Shakira</h4>
                            <audio
                                controls
                                    src="../media/monotonia.mp3">
                                    <a href="../media/monotonia.mp3">
                                        Download audio
                                    </a>
                             </audio>  
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card_imagen"><img src="../images/waka waka.jpg" alt=""></div>
                        <div class="card_text">
                            <h4>Waka  Waka - Shakira</h4>
                            <audio
                                controls
                                    src="../media/waka waka.mp3">
                                    <a href="../media/waka waka.mp3">
                                        Download audio
                                    </a>
                             </audio>  
                        </div>
                    </div>
                </div>
                <div class="titulos">
                    <h2>VideoClips Musicales
                    </h2>
                    <span></span>
                </div>

                <div class="podcast">
                    <div class="card_podcast">
                        <video id="my-video" class="video-js" controls preload="auto" poster="../images/vivir mi vida.jpg" data-setup="{}"> 
                            <source src="../vids/y2mate.com - Marc Anthony  Vivir Mi Vida Official Video_480p.mp4" type="video/mp4"/>
                            <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank"
                              >supports HTML5 video</a
                            >
                          </p>
                        </video>

                        <h4>Vivir Mi Vida - Marc Anthony</h4>
                        <p>video sugerido!</p>
                    </div>
                    <div class="card_podcast">
                        <video id="my-video" class="video-js" controls preload="auto" poster="../images/rockstar.jpg" data-setup="{}"> 
                            <source src="../vids/Rockstar.mp4" type="video/mp4"/>
                            <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                        </video>
                        <h4>Rockstar - Postmalone ft. 21 Savage</h4>
                        <p>video sugerido!</p>
                    </div>
                    <div class="card_podcast">
                        <video id="my-video" class="video-js" controls preload="auto" poster="../images/hum.jpg" data-setup="{}"> 
                            <source src="../vids/The Hum - Dimitri vegas & Like Mike.mp4" type="video/mp4"/>
                            <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                        </video>
                        <h4>The Hum - Dimitri Vegas & Like Mike</h4>
                        <p>video sugerido!</p>
                    </div>
                    <div class="card_podcast">
                        <video id="my-video" class="video-js" controls preload="auto" poster="../images/maxresdefault.jpg" data-setup="{}"> 
                            <source src="../vids/ojitos rojos .mp4" type="video/mp4"/>
                            <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank"
                            >supports HTML5 video</a
                            >
                        </p>
                        </video>
                        <h4>Ojitos Rojos - Bleesd</h4>
                        <p>video sugerido!</p>
                    </div>
                </div>
            </div>
        </section>  
    </div>
</body>
<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
</html>