<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../styles/resgistro.css" rel="stylesheet" type="text/css">
    <title>registrate - Music Proyect</title>
    <link rel="icon" href="logon.png">
</head>
<body>
    <div class="login">
    <h1>Registrarse</h1>
    <form action="http://localhost:8000/posttable/" method="POST">
        <input type="text" name="email" placeholder="Correo Electronico" required="required">
        <input type="text" name="user" placeholder="Nombre de Usuario" required="required">
        <input type="password" name="password" placeholder="Establece Una Contraseña" required="required">
        <input type="password" name="cpassword" placeholder="Confirma tu Contraseña" required="required">
        <button type="submit" class="btn btn-primary btn-block btn-large">Registrarse Ahora</button>
    </form>
</div>
</body>
</html>