<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>registro</title>
	<link href="../styles/Rstyle.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="logon.png">
</head>
<body>
	<div class="btnlogin">
		<button><a href="login.html">Iniciar Sesion</a></button>
	</div>
	</div>
	<div class="logo">
		<img src="../images/logorees.png">
	</div>
	<div class="mensaje">
		<h2>Escucha tus listas de reprodución,
		Mientras conduces, Estudias y mas.
		Solo con un Click.</h2>
	</div>
	<div class="login">
	<h1>Registrarse</h1>
    <form method="post">
    	<input type="text" name="u" placeholder="Correo Electronico" required="required">
    	<input type="text" name="a" placeholder="Nombre de Usuario" required="required">
        <input type="password" name="p" placeholder="Establece Una Contraseña" required="required">
        <input type="password" name="p" placeholder="Confirma tu Contraseña" required="required">
        <button type="submit" class="btn btn-primary btn-block btn-large">Registrarse Ahora</button>
    </form>
</div>
</body>
</html>